# intermediary tables

INDEX

In [11]:
# Libraries
import pandas as pd

# Abstract Syntax Trees
import ast

### Import tables

In [16]:
pub = pd.read_csv('../data/publications_db.csv', )
# res = pd.read_csv('../data/researchers_db.csv')
aff = pd.read_csv('../data/aff_db.csv')
jrn = pd.read_csv('../data/journals_db.csv')

### Drop bad index

In [5]:
to_drop = ['Unnamed: 0']
display(pub.shape)
pub = pub.drop(columns=to_drop)
display(pub.shape)

(61981, 18)

(61981, 17)

In [ ]:
# display(res.shape)
# res = res.drop(columns=to_drop)
# display(res.shape)

In [ ]:
display(aff.shape)
aff = aff.drop(columns=to_drop)
display(aff.shape)

In [8]:
display(jrn.shape)
jrn = jrn.drop(columns=to_drop)
display(jrn.shape)

(110, 62)

(110, 61)

## pub-res

In [9]:
pub.head(2)

,pub_id,journal_id,last_revision,volume,title,pages,DOI,authors,journal,abstract,abstract_words,keywords,terms,pub_type,citation,publication_year,pub_date
0,38012702,105,2023-11-29,20.0,"Neuroinflammation, memory, and depression: new...",283,10.1186/s12974-023-02964-x,"['Wu, Anbiao', 'Zhang, Jiyan']",Journal of neuroinflammation,As one of most common and severe mental disord...,"one common severe mental disorders , major dep...","['one', 'common', 'severe', 'mental', 'disorde...","['Hippocampal neurogenesis', 'Major depressive...",Journal Article,J Neuroinflammation. 2023 Nov 27;20(1):283. do...,2023,2023-01-01
1,38012669,105,2023-11-29,20.0,OTUD1 ameliorates cerebral ischemic injury thr...,281,10.1186/s12974-023-02968-7,"['Zheng, Shengnan', 'Li, Yiquan', 'Song, Xiaom...",Journal of neuroinflammation,BACKGROUND: Inflammatory response triggered by...,BACKGROUND : Inflammatory response triggered i...,"['background', 'inflammatory', 'response', 'tr...","['Cerebral ischemic injury', 'Inflammation', '...",Journal Article,J Neuroinflammation. 2023 Nov 27;20(1):281. do...,2023,2023-01-01

In [ ]:
# dataframe with [pub_id & auhors]

In [13]:
df_01 = pub[['pub_id', 'authors']]

# Transform the strings to lists again
df_01['authors'] = df_01['authors'].apply(ast.literal_eval)

# Create a row per author
df_01 = df_01.explode('authors')

C:\Users\ingle\AppData\Local\Temp\ipykernel_15292\1776630495.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_01['authors'] = df_01['authors'].apply(ast.literal_eval)

In [14]:
# add the res_id to the column

         pub_id          authors
0      38012702       Wu, Anbiao
0      38012702     Zhang, Jiyan
1      38012669  Zheng, Shengnan
1      38012669       Li, Yiquan
1      38012669   Song, Xiaomeng
...         ...              ...
61979  31803544     Zhou, Meixue
61980  31803543      Dai, Lisong
61980  31803543    Zhou, Hongmei
61980  31803543    Xu, Xiangyang
61980  31803543     Zuo, Zhentao

[372016 rows x 2 columns]

## pub-aff

In [ ]:
df_02 = pub[['pub_id', 'authors']]

# Transform the strings to lists again
df_02['authors'] = df_02['authors'].apply(ast.literal_eval)

# Create a row per author
df_02 = df_02.explode('authors')

## jrn-res

In [10]:
jrn.head(2)

,journal_id,country_id,journal_name,num_articles,region,publisher,coverage,categories,areas,sjr_2010,...,hindex_2020,docs_2020,sjr_2021,quartile_2021,hindex_2021,docs_2021,sjr_2022,quartile_2022,hindex_2022,docs_2022
0,0,756.0,Frontiers of Neurology and Neuroscience,325,Western Europe,S. Karger AG,"2005-2019, 2021",Medicine (miscellaneous) (Q2); Neurology (clin...,Medicine; Neuroscience,"0,456",...,32.0,0.0,"0,199",Q4,32.0,14.0,"0,506",Q3,32.0,0.0
1,1,840.0,PLoS Biology,4651,Northern America,Public Library of Science,2003-2022,Agricultural and Biological Sciences (miscella...,Agricultural and Biological Sciences; Biochemi...,"7,847",...,293.0,348.0,"3,928",Q1,293.0,337.0,"4,005",Q1,293.0,403.0

## aff-res