# Load to SQL

INDEX

In [1]:
# Libraries
import pandas as pd

# Functions
import sys
sys.path.append('../src')
from support_sql import *

# SQLAlchemy ✨
from sqlalchemy import create_engine

## Create neuropapers_db

In [2]:
with open('../pswd_mysql.txt', 'r') as file:
    paswd = file.read().strip()

In [3]:
str_conn = f'mysql+pymysql://root:{paswd}@localhost:3306'
cursor = create_engine(str_conn)

In [4]:
cursor.execute('DROP DATABASE IF EXISTS neuropapers_db;')
cursor.execute('CREATE DATABASE neuropapers_db;')

## Create the relationships

In [5]:
str_conn = f'mysql+pymysql://root:{paswd}@localhost:3306/neuropapers_db'
cursor = create_engine(str_conn)

In [3]:
# Dictionary to create the structure of the tables:

db_struc = {'countries': {'primary_keys': ['country_id']},
            
            'journals': {'primary_keys': ['journal_id'],
                         'foreign_keys': [{'fk': ['country_id'],
                                           'reference_table': 'countries',
                                           'reference_column': 'country_id'}]},
            
            'publications': {'primary_keys': ['pub_id'],
                             'foreign_keys': [{'fk': ['journal_id'],
                                               'reference_table': 'journals',
                                               'reference_column': 'journal_id'}]},
            
            'researchers': {'primary_keys': ['res_id']},
            'affiliations': {'primary_keys': ['aff_id'],
                             'foreign_keys': [{'fk': ['country_id'],
                                               'reference_table': 'countries',
                                               'reference_column': 'country_id'}]},
            
            'pub_res': {'primary_keys': ['pub_id', 'res_id'], 
                        'foreign_keys' : [ {'fk': ['pub_id'], 
                                            'reference_table': 'publications', 
                                            'reference_column': 'pub_id'}, 
                                           {'fk': ['res_id'], 
                                            'reference_table': 'researchers', 
                                            'reference_column': 'res_id'}]},
            
            'pub_aff': {'primary_keys': ['pub_id', 'aff_id'], 
                        'foreign_keys' : [ {'fk': ['pub_id'], 
                                            'reference_table': 'publications', 
                                            'reference_column': 'pub_id'}, 
                                           {'fk': ['aff_id'], 
                                            'reference_table': 'affiliations', 
                                            'reference_column': 'aff_id'}]},
            
            'jrn_res': {'primary_keys': ['journal_id', 'res_id'], 
                        'foreign_keys' : [ {'fk': ['journal_id'], 
                                            'reference_table': 'journals', 
                                            'reference_column': 'journal_id'}, 
                                           {'fk': ['res_id'], 
                                            'reference_table': 'researchers', 
                                            'reference_column': 'res_id'}]},
            
            'aff_res': {'primary_keys': ['aff_id', 'res_id'], 
                        'foreign_keys' : [ {'fk': ['aff_id'], 
                                            'reference_table': 'affiliations', 
                                            'reference_column': 'aff_id'}, 
                                           {'fk': ['res_id'], 
                                            'reference_table': 'researchers', 
                                            'reference_column': 'res_id'}]}}

In [ ]:
# Dynamically create models based on the dictionary

for table_name, table_data in db_struc.items():
    class_name = table_name.capitalize()

    class Model(Base):
        __tablename__ = table_name
        primary_keys = table_data['primary_keys']
        for pk in primary_keys:
            setattr(Model, pk, Column(Integer, primary_key=True))

        foreign_keys = table_data.get('foreign_keys', [])
        for fk_data in foreign_keys:
            fk_name = fk_data['fk'][0]
            reference_table = fk_data['reference_table']
            reference_column = fk_data['reference_column']
            setattr(Model, fk_name, Column(Integer, ForeignKey(f'{reference_table}.{reference_column}')))
            setattr(Model, reference_table.lower(), relationship(reference_table.capitalize()))

    globals()[class_name] = Model

## Create the tables in the database

In [ ]:
Base.metadata.create_all(engine)

## Fill the tables
### Import pandas dataframes

In [ ]:
df_dict = {'countries': df_countries,
           'journals': df_journals,
           'publications': df_publications,
           'researchers': df_researchers,
           'affiliations': df_affiliations,
           'pub_res': df_pub_res,
           'pub_aff': df_pub_aff,
           'jrn_res': df_jrn_res,
           'aff_res': df_aff_res}

In [ ]:
for table_name, df in df_dict.items():
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [ ]:
error

In [ ]:
# Create a base class to declare models
Base = declarative_base()

# Define models for each table
class Country(Base):
    __tablename__ = 'countries'
    country_id = Column(Integer, primary_key=True)
    # Add more columns as needed
    name = Column(String(255), nullable=False)

class Journal(Base):
    __tablename__ = 'journals'
    journal_id = Column(Integer, primary_key=True)
    country_id = Column(Integer, ForeignKey('countries.country_id'))
    country = relationship('Country')
    # Add more columns as needed
    name = Column(String(255), nullable=False)

class Publication(Base):
    __tablename__ = 'publications'
    pub_id = Column(Integer, primary_key=True)
    journal_id = Column(Integer, ForeignKey('journals.journal_id'))
    journal = relationship('Journal')
    # Add more columns as needed
    title = Column(String(255), nullable=False)
    publication_date = Column(String(20))

class Researcher(Base):
    __tablename__ = 'researchers'
    res_id = Column(Integer, primary_key=True)
    # Add more columns as needed
    name = Column(String(255), nullable=False)
    affiliation_id = Column(Integer, ForeignKey('affiliations.aff_id'))
    affiliation = relationship('Affiliation')

class Affiliation(Base):
    __tablename__ = 'affiliations'
    aff_id = Column(Integer, primary_key=True)
    country_id = Column(Integer, ForeignKey('countries.country_id'))
    country = relationship('Country')
    # Add more columns as needed
    name = Column(String(255), nullable=False)

class PublicationResearcher(Base):
    __tablename__ = 'pub_res'
    pub_id = Column(Integer, ForeignKey('publications.pub_id'), primary_key=True)
    res_id = Column(Integer, ForeignKey('researchers.res_id'), primary_key=True)
    publication = relationship('Publication')
    researcher = relationship('Researcher')

class PublicationAffiliation(Base):
    __tablename__ = 'pub_aff'
    pub_id = Column(Integer, ForeignKey('publications.pub_id'), primary_key=True)
    aff_id = Column(Integer, ForeignKey('affiliations.aff_id'), primary_key=True)
    publication = relationship('Publication')
    affiliation = relationship('Affiliation')

class JournalResearcher(Base):
    __tablename__ = 'jrn_res'
    journal_id = Column(Integer, ForeignKey('journals.journal_id'), primary_key=True)
    res_id = Column(Integer, ForeignKey('researchers.res_id'), primary_key=True)
    journal = relationship('Journal')
    researcher = relationship('Researcher')

class AffiliationResearcher(Base):
    __tablename__ = 'aff_res'
    aff_id = Column(Integer, ForeignKey('affiliations.aff_id'), primary_key=True)
    res_id = Column(Integer, ForeignKey('researchers.res_id'), primary_key=True)
    affiliation = relationship('Affiliation')
    researcher = relationship('Researcher')

In [ ]:
# Create the tables in the database
Base.metadata.create_all(engine)

___
## <a id='toc1_2_'></a>[Fill neuropapers_db](#toc0_)
### <a id='toc1_2_1_'></a>[universities](#toc0_)

In [16]:
universities = pd.read_csv('../data/universities_db.csv')
universities.shape

(1498, 8)

In [17]:
universities.columns

Index(['Unnamed: 0', 'Rank_2024', 'Institution_Name', 'Country', 'Location',
       'Academic_Reputation', 'Latitude', 'Longitude'],
      dtype='object')

In [18]:
column_names = ['index', 'rank_2024', 'institution_name', 'country_code', 'country',
       'academic_reputation', 'latitude', 'longitude']

universities.columns = column_names

In [19]:
universities.drop('index', axis=1, inplace=True)
universities.head(2)

,rank_2024,institution_name,country_code,country,academic_reputation,latitude,longitude
0,1,Massachusetts Institute of Technology (MIT),US,United States,100.0,42.360091,-71.094160
1,2,University of Cambridge,UK,United Kingdom,100.0,55.378051,-3.435973

In [20]:
# Load to SQL

universities.to_sql(name='universities',     
                    con=cursor,         
                    if_exists='replace',  
                    index=True)

1498

### <a id='toc1_2_2_'></a>[countries](#toc0_)

In [39]:
countries = pd.read_csv('../data/countries_db.csv')
countries.shape

(249, 57)

In [41]:
countries.drop(['Unnamed: 0'], axis=1, inplace=True)

In [43]:
column_names = ['index', 'country', 'official_state_name', 'sovereignty',
       'alpha_2_code', 'alpha_3_code', 'mln_2010', 'mln_2011', 'mln_2012',
       'mln_2013', 'mln_2014', 'mln_2015', 'mln_2016', 'mln_2017', 'mln_2018',
       'mln_2019', 'mln_2020', 'mln_2021', 'mln_2022', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019', 'gdp_2020', 'gdp_2021', 'gdp_2022', 'tot_2010',
       'tot_2011', 'tot_2012', 'tot_2013', 'tot_2014', 'tot_2015', 'tot_2016',
       'tot_2017', 'tot_2018', 'tot_2019', 'tot_2020', 'tot_2021', 'wom_2010',
       'wom_2011', 'wom_2012', 'wom_2013', 'wom_2014', 'wom_2015', 'wom_2016',
       'wom_2017', 'wom_2018', 'wom_2019', 'wom_2020', 'wom_2021']

countries.columns = column_names

In [48]:
countries.head(2)

,index,country,official_state_name,sovereignty,alpha_2_code,alpha_3_code,mln_2010,mln_2011,mln_2012,mln_2013,...,wom_2012,wom_2013,wom_2014,wom_2015,wom_2016,wom_2017,wom_2018,wom_2019,wom_2020,wom_2021
0,4,Afghanistan,The Islamic Republic of Afghanistan,UN member state,AF,AFG,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,248,Åland Islands,Åland,Finland,AX,ALA,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# Load to SQL

countries.to_sql(name='countries',     
                 con=cursor,         
                 if_exists='replace',  
                 index=False)

249

### <a id='toc1_2_3_'></a>[publications](#toc0_)

### <a id='toc1_2_4_'></a>[journals](#toc0_)

### <a id='toc1_2_5_'></a>[affiliations](#toc0_)

### <a id='toc1_2_6_'></a>[first_author](#toc0_)

### <a id='toc1_2_7_'></a>[last_author](#toc0_)

In [46]:
# show the tables of the database
cursor.execute('show TABLES;').fetchall()

[('countries',), ('country_codes',), ('universities',)]

In [47]:
# drop country_codes